<template>
  <div class="person person-form">
    <h2 class="crud-title">{{ crudTitle }}</h2>

    <v-container grid-list-md>
      <v-layout person-form-row row wrap align-center>

        <form method="post" v-on:submit.prevent>

          <v-layout row wrap>
            <v-flex xs12 md6>
              <v-text-field
                class="wrp-person-name"
                label="Nome"
                v-model="person.name"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 md6>
              <v-text-field
                class="wrp-person-email"
                label="E-mail"
                v-model="person.email"
              ></v-text-field>
            </v-flex>
          </v-layout>

          <v-layout row wrap>
            <v-flex xs12 md6>
              <v-text-field
                class="wrp-person-landline_phone"
                label="Telefone Fixo"
                v-model="person.landline_phone"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 md6>
              <v-text-field
                class="wrp-person-cell_phone"
                label="Telefone Celular"
                v-model="person.cell_phone"
              ></v-text-field>
            </v-flex>
          </v-layout>

          <v-layout row wrap>
            <v-flex xs12 md6>
              <v-text-field
                class="wrp-person-union_code"
                label="Código de Registro (CRM, CRC, etc.)"
                v-model="person.union_code"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 md6>
              <v-select
                class="wrp-person-status"
                content-class="statuses-combobox"
                v-bind:items="statuses"
                item-value="id"
                item-text="name"
                v-model="selectedStatusId"
                label="Selecionar Status"
                autocomplete
              ></v-select>
            </v-flex>
          </v-layout>

          <v-layout row wrap>
            <v-flex xs12 class="categories-chips">
              <v-select
                class="wrp-person-categories"
                content-class="categories-combobox"
                v-bind:items="categories"
                item-value="id"
                item-text="name"
                v-model="selectedCategoriesIds"
                label="Selecionar Categoria(s)"
                autocomplete
                multiple
                chips
                deletable-chips
                persistent-hints
                hint="Escolha uma ou mais categorias"
              ></v-select>
            </v-flex>
          </v-layout>

          <v-layout row wrap>
            <v-flex xs12>
              <v-btn
                class="btn-cancel"
                @click="$router.push({name: 'people'})"
                >Voltar</v-btn>
              <v-btn
                class="btn-submit"
                @click="onSubmit"
                >Salvar</v-btn>
            </v-flex>
          </v-layout>
        </form>
      </v-layout>

    </v-container>
  </div>
</template>

<script>
import axios from 'axios';
import { store } from '@/store/store';

export default {
  data () {
    return {
      shared: store.state,
      isEditing: false,
      // @ajax
      statuses: undefined,
      // @ajax
      categories: [],
      selectedStatusId: undefined,
      selectedCategoriesIds: [],
      person: {
        id: undefined,
        name: '',
        email: '',
        landline_phone: '',
        cell_phone: '',
        union_code: '',
        observation: '',
        created_at: '',
        updated_at: '',
        account_id: undefined,
        status_id: undefined,
        status: undefined,
        categories: [], // categories comes from a join/pivot table.
      },
    };
  },

  created () {
    this.isEditing = 'person-edit' === this.$route.name;
  },

  mounted () {
    if ('person-edit' === this.$route.name) {
      axios.get(`/people/${this.$route.params.person_id}`)
        .then(res => {
          if ('OK' === res.statusText) {
            this.person = res.data;

            if (this.person.status) {
              // Setting this makes sure the correct item is selected in the select box
              // when editing a person.
              this.selectedStatusId = this.person.status.id;
            }

            if (this.person.categories) {
              // Sets the selected categories so the correct item/chips show up
              // when editing a person.
              this.selectedCategoriesIds = this.person.categories.map(item => item.id);
            }
          }
        }).catch(err => {
          // error('PersonForm.mounted.if-person-edit');
        });
    }

    axios.get('/statuses')
      .then(res => {
        if ('OK' === res.statusText) {
          this.statuses = res.data;
        }
      }).catch(err => {
        // error('personform error fetch statuses');
      });

    axios.get('/categories')
      .then(res => {
        if ('OK' === res.statusText) {
          this.categories = res.data;
        }
      }).catch(err => {
        // error('personform error fetch categories');
      });
  },

  computed: {
    crudTitle () {
      return this.isEditing ? 'Pessoas - Editar' : 'Pessoas - Adicionar';
    }
  },

  methods: {

    requestCreate (person) {
      const postPromise = axios.post(
        `/people`,
        {
          person,
          status_id: this.selectedStatusId,
          categories_ids: this.selectedCategoriesIds,
        }
      );

      postPromise.then(res => {
        if (201 !== res.status) {
          store.displayAlertAction({
            type: 'warning',
            text: 'Erro ao inserir dados da pessoa.',
          });
        }
        else {
          store.displayAlertAction({
            type: 'success',
            text: 'Dados da pessoa inseridos com sucesso!',
          });
          this.$router.push({ name: 'people' });
        }
      }).catch(err => {
        store.displayAlertAction({
          type: 'warning',
          text: 'Erro ao inserir dados da pessoa.',
        });
      });

      return postPromise;
    },

    requestUpdate (person) {
      const patchPromise = axios.patch(
        `/people/${person.id}`,
        {
          person: this.person,
          status_id: this.selectedStatusId,
          categories_ids: this.selectedCategoriesIds,
        }
      );

      patchPromise.then(res => {
        if (200 !== res.status) {
          store.displayAlertAction({
            type: 'warning',
            text: 'Erro ao atualizar dados da pessoa.',
          });
          return;
        }
        store.displayAlertAction({
          type: 'success',
          text: 'Dados da pessoa atualizados com sucesso!',
        });
        this.$router.push({ name: 'people' });
      }).catch(err => {
        store.displayAlertAction({
          type: 'warning',
          text: 'Erro ao atualizar dados da pessoa.',
        });
      });

      return patchPromise;
    },

    onSubmit () {
      switch (this.$route.name) {
        case 'person-new':
          this.requestCreate(this.person);
          break;
        case 'person-edit':
          this.requestUpdate(this.person);
          break;
        default:
          console.warn('Oops. Not creating or updating a person...');
      }
    },

  }
};
</script>
