<template>
  <div class="person person-index">
    <h2 class="crud-title">Pessoas - Listagem</h2>

    <v-btn
      class="btn-add-person"
      :to="{ name: 'person-new' }">
      <v-icon>add</v-icon>
      <span>Cadastrar Pessoa</span>
    </v-btn>

    <v-container grid-list-md index-of-things>
      <v-layout person-index-row index-row row wrap align-center
        v-for="(person, idx) in people" :key="idx">
        <v-flex xs12 sm4 md3>
          <div>
            {{ person.name }}
          </div>
        </v-flex>
        <v-flex xs12 sm4 md3>
          <div>
            {{ person.email }}
          </div>
        </v-flex>
        <v-flex xs12 sm4 md3>
          <div>
            <v-btn
              class="btn-edit"
              color="blue" :to="{ name: 'person-edit', params: { person_id: person.id }}">
              <v-icon>edit</v-icon>
              <span>Editar</span>
            </v-btn>
          </div>
        </v-flex>
      </v-layout>
    </v-container>

  </div>
</template>

<script>
import axios from 'axios';
import { store } from '@/store/store';

export default {
  data () {
    return {
      shared: store.state,
      people: [],
    };
  },

  mounted () {
    this.fetchPeople();
  },

  methods: {
    fetchPeople (path = '/people') {
      let getPromise = axios.get(path);

      getPromise.then(res => {
        if (200 === res.status) {
          this.people = res.data;
        }
        else {
          store.displayAlertAction({
            type: 'warning',
            text: 'Erro ao listar pessoas.',
          });
        }
      }).catch(err => {
        store.displayAlertAction({
          type: 'warning',
          text: 'Erro ao listar pessoas.',
        });
      });

      return getPromise;
    },
  }
};
</script>

