<template>
  <div class="status status-index">
    <h2 class="crud-title">Status - Listagem</h2>

    <v-btn
        class="btn-add-status"
        :to="{ name: 'status-new' }">
      <v-icon>add</v-icon>
      <span>Cadastrar Status</span>
    </v-btn>

    <v-container grid-list-md index-of-things>
      <v-layout status-index-row index-row row wrap align-center
        v-for="(status, idx) in statuses" :key="idx">
        <v-flex xs12 sm6>
          <div>
            {{ status.name }}
          </div>
        </v-flex>
        <v-flex xs12 sm6>
          <div>
            <v-btn
              class="btn-edit"
              color="blue" :to="{ name: 'status-edit', params: { status_id: status.id }}">
              <v-icon>edit</v-icon>
              <span>Editar</span>
            </v-btn>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import axios from 'axios';
import { store } from '@/store/store';

export default {
  data () {
    return {
      shared: store.state,
      statuses: [],
    };
  },

  mounted () {
    this.fetchStatuses();
  },

  methods: {
    fetchStatuses (path = '/statuses') {
      let getPromise = axios.get(path);

      getPromise.then(res => {
        if (200 === res.status) {
          this.statuses = res.data;
        }
        else {
          store.displayAlertAction({
            type: 'warning',
            text: 'Página de listagem de Status não encontrada.',
          });
        }
      }).catch(err => {
        store.displayAlertAction({
          type: 'warning',
          text: 'Página de listagem de Status não encontrada.',
        });
      });

      return getPromise;
    },
  },
};
</script>
