<template>
  <div class="status status-form">
    <h2 class="crud-title">{{ crudTitle }}</h2>
    <template>
      <form
        v-on:submit.prevent>
        <input type="hidden" name="status[id]" value="status.id">
        <v-text-field
          class="wrp-status-name"
          name="status[name]"
          label="Nome do Status"
          v-model="status.name"
          required
        ></v-text-field>
        <v-btn
          class="btn-cancel"
          @click="$router.push({name: 'statuses'})">Voltar</v-btn>
        <v-btn
          class="btn-submit"
          @click="submit">Salvar</v-btn>
      </form>
    </template>
  </div>
</template>

<script>
import axios from 'axios';
import { store } from '@/store/store';

export default {
  data () {
    return {
      store: store,
      shared: store.state,
      isEditing: false,
      status: {
        id: undefined,
        name: '',
      },
    };
  },

  created () {
    this.isEditing = 'status-edit' === this.$route.name;

    // Only fetch status if we are editing it.
    if (this.isEditing) {
      this.requestFetchStatus(this.$route.params.status_id);
    }
  },

  computed: {
    crudTitle () {
      return this.isEditing ? 'Status - Editar' : 'Status - Adicionar';
    }
  },

  methods: {
    requestFetchStatus (status_id) {
      const getPromise = axios.get(`/statuses/${status_id}`);

      getPromise.then(res => {
        this.status = res.data;
      }).catch(err => {
        console.error('err: ', err);
      });

      return getPromise;
    },

    requestCreate (status) {
      axios.post(`/statuses`, status)
        .then(res => {
          if (201 !== res.status) {
            this.store.displayAlertAction({
              type: 'warning',
              text: 'Erro ao inserir dados do status.',
            });
            return;
          }

          this.store.displayAlertAction({
            type: 'success',
            text: 'Dados do status inseridos com sucesso!',
          });
          this.$router.push({ name: 'statuses' });
        });
    },

    requestUpdate (status) {
      const patchPromise = axios.patch(`/statuses/${status.id}`, status);

      patchPromise.then(res => {
        if (200 !== res.status) {
          this.store.displayAlertAction({
            type: 'warning',
            text: 'Erro ao atulizar dados do status.'
          });
          return;
        }

        this.store.displayAlertAction({
          type: 'success',
          text: 'Dados do status atualizados com sucesso!',
        });
        this.$router.push({ name: 'statuses' });
      }).catch(err => {
        // TODO: SysMsg
        error('catch error');
      });

      return patchPromise;
    },

    submit () {
      switch (this.$route.name) {
        case 'status-new':
          this.requestCreate(this.status);
          break;
        case 'status-edit':
          this.requestUpdate(this.status);
          break;
        default:
          console.warn('Oops. Not creating or updating a status.');
      }
    }
  },
};
</script>
